<!DOCTYPE html>
<html>
  <head>
    <title>TioSalt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
	    <div class='container'>
	    	<nav>
	    		<li><%= link_to "Home", '#' %></li>
	    		<li><%= link_to "Order", '#' %></li>
	    	</nav>	
	    </div>

    <%= yield %>
  </body>
</html>
